<h1>Projects Page</h1>


<h2>works</h2>

<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="..." alt="...">
      <div class="carousel-caption">
        <h3>Image Title</h3>
        <p>Description</p>
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>


<div class="row">
  <% @works.each do |project| %>
    <div class="project-container">
    <div class='project' id=<%= project[:id] %> 
      style="background:url(<%= image_url("covers/#{project[:id]}.jpg") %>); background-size: cover;"></div>
    <p><%= project[:name] %></p>
    </div>
  <% end %>
</div>

<div class="row">
  <% @competitions.each do |project| %>
    <div class="project-container">
    <a href="#<%= project[:id]%>">
    <div class='project' id=<%= "projects/#{project[:id]}" %> 
      style="background:url(<%= image_url("covers/#{project[:id]}.jpg") %>); background-size: cover; "></div>
    </a>      
    <p class="name"><%= project[:name] %></p>
    <p class="location"><%= project[:location]%>, <%=project[:year]%></p>
    </div>
  <% end %>
</div>



<script>
  $('#carousel').hide();

</script>