  <%= form_for(@project, html: {:role => 'form', :class => 'form'}) do |f| %>
    
    <div class="form-group">
      <%= f.text_field :name, placeholder: 'name', :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.text_area :description, placeholder: 'description', :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.select(:category,['works','competitions','workshops','studies'], {}, {:class => 'form-control'}) %>
    </div>

    <div class="form-group">
      <%= f.text_field :location, placeholder: 'location', :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.number_field :year, placeholder: 'year', :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.text_field :note, placeholder: 'note', :class => 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label 'Add a cover image for this project ( jpg only )' %>
      <%= f.file_field :cover, placeholder: 'cover image' , :class => 'form-control'  %>
    </div>

    <div class="center">
      <div class="form-group">
        <%= f.submit :class => "btn btn-success " %>
      </div>
    </div>

  <% end %>