<h1>Projects Page</h1>

<% if current_user %>
  <%= link_to 'new project', new_project_path %>
<% end %>

<div class="project-container">

  <div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- carousel indicators -->
    <ol id="carousel-indicators" class="carousel-indicators">
    </ol>

    <!-- carousel wrapper for slides -->
    <div id="carousel-inner" class="carousel-inner">
    </div>

    <!-- carousel controls -->
    <a class="left carousel-control" href="#carousel" data-slide="prev">
    </a>
    <a class="right carousel-control" href="#carousel" data-slide="next">
    </a>
  </div>


  <!-- project list -->
  <div class="row" id='projects-container'>
    <div id="works" class="row projects-type">
      <h2>works</h2>
      <div id="projects-list">
        <% @works.each do |work| %>
          <div class="project-div" id="<%= work.id %>">
            <img class='project' src='<%= work.cover.url %>'>
            <% if current_user %> 
              <%= link_to 'modify', project_path(work) %> 
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div id="competitions" class="row projects-type">
      <h2>competitions</h2>
      <div id="projects-list">
      <% @competitions.each do |competition| %>
        <div class="project-div" id="<%= competition.id %>">
          <img class='project' src='<%= competition.cover.url %>'>
          <% if current_user %> 
            <%= link_to 'modify', project_path(competition) %> 
          <% end %>
        </div>
      <% end %>
      </div>
    </div>    
    <div id="workshops" class="row projects-type">
      <h2>workshops</h2>
      <div id="projects-list">
      <% @workshops.each do |workshop| %>
        <div class="project-div" id="<%= workshop.id %>">
          <img class='project' src='<%= workshop.cover.url %>'>
          <% if current_user %> 
            <%= link_to 'modify', project_path(workshop) %> 
          <% end %>
        </div>
      <% end %>
      </div>
    </div>    
    <div id="studies" class="row projects-type"> 
      <h2>studies</h2>
      <div id="projects-list">
      <% @studies.each do |study| %>
        <div class="project-div" id="<%= study.id %>">
          <img class='project' src='<%= study.cover.url %>'>
          <% if current_user %> 
            <%= link_to 'modify', project_path(study) %> 
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>


</div>

<%= javascript_include_tag "application" %>
<div id="token" style="display: none;"><%= form_authenticity_token %></div>
<script>

$(document).ready(function() {

    $('#carousel').hide();

    var compare = function(a,b){
        if (a.updated_at < b.updated_at)
          return -1;
          if (a.updated_at > b.updated_at)
            return 1;
          return 0;
    };

    var carousel = function(photos) { 
      event.preventDefault();
      // find the project i clicked
      var photos = photos

      if (_.isEmpty(photos)){
        return;
      }

      photos.sort(compare);

      var $carousel = $('#carousel');
      var $carouselIndicator = $('#carousel-indicators')
      var $carouselInner = $('#carousel-inner')
      $carouselIndicator.empty();
      $carouselInner.empty();

      _.each(photos, function (photo, index){
        // create html for indicator
        indicatorHtml = '<li class="balls" data-target="#carousel" data-slide-to="' + index + '"></li>'
        // attach it to carouselIndicator
        $carouselIndicator.append(indicatorHtml);
        // create html for inner photo
        innerHtml = '<div class="item ' + ((index === 0) ? 'active' : "") + '"><img src="' +  photo.url + '" alt="'+ photo.name + '"><div class="carousel-caption"><h3>' + photo.name + '</h3><p>' + photo.description + '</p></div></div>'
        // attach it to carouselInner
        $carouselInner.append(innerHtml);
      })
      
      
      $carousel.carousel();

      $carousel.on('click','.left',function () {
        $carousel.carousel('prev')
      })
      $carousel.on('click','.right',function () {
        $carousel.carousel('next')
      })

      $carousel.on('click','.balls', function(e){
        var value = this.attributes['data-slide-to'].value
        $carousel.carousel(parseInt(value))
      })


      $carousel.fadeIn(350, function(){
        // add class to body


        $('body').on('click.carousel',function(){
          $carousel.hide();
          $carouselInner.empty();
          $carouselIndicator.empty();
          $('body').off('.carousel');
        })     
      });
      
      $carousel.on('click', function(e){
        e.stopPropagation();
      });
    };


    $('.project-div').on("click",function(e){
      get_project(this.id) 
    });

    var get_project = function(id) {
      var createOption = {
          url: '/projects/' + id,
          type: 'get',
          dataType: 'json',
          data: { token: $('#token').html() }
        }
      $.ajax(createOption).done(function(photos){
          carousel(photos);
       }).fail(function(){
          alert('error here');
         });
    }


      // App.projects = new App.Projects();
      // App.projects.fetch();
      // App.router = new App.Router();
      // Backbone.history.start(); 
})

</script>