<!DOCTYPE html>
<html>
  <head>
    <title>SerenaVaccari</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", media: 'all' %>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
  </head>

<body>

<div class="background-image "></div>

<div class="container-fluid main-body" >

<div class="row">
  <% if notice %>
    <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 
      <%= notice %>
    </div>           
  <% end %>
  <% if alert %> 
    <div class='alert alert-danger alert-dismissable'>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>  
      <%= alert %>
    </div>
  <% end %>
</div>

  <div class="row">
    <%= render 'layouts/header' %>
  </div>

  
  <div class="row main-row" data-spy="scroll" data-target=".nav-sidemenu">
    <div class="col-md-2">
      <%= render 'layouts/sidemenu' %>
    </div>
  
    <div class="col-md-10">
      <%= yield %>
    </div>
  </div>  

</div>
<div class="row">
  <%= render 'layouts/footer' %>
</div>


<script>
  $('body').scrollspy({ target: '.nav-sidemenu' })

</script>

</body>
</html>
